.form-input-hotel {
  @apply w-full
         bg-white
         border border-slate-200
         rounded-md
         px-3 py-2
         text-sm text-slate-700
         placeholder-slate-400
         focus:outline-none
         focus:ring-1 focus:ring-slate-300
         focus:border-slate-300
         transition;
}
